.launcher-button {
  --button-color: hsla(var(--color__primary-hue) 15% 50% 0.2); /* To fix intellisese errors */

  border: 2px solid transparent;
  border-radius: 0.5rem;
  user-select: none;

  &:hover:not(:disabled) {
    filter: brightness(110%);
    box-shadow: rgb(55 55 55 / 20%) 3px 3px 10px;

    & > * {
      transform: scale(108%);
    }
  }

  &:active:not(:disabled) {
    transform: scale(95%);
    transition-duration: 50ms;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
    filter: grayscale(50%);
  }

  &:is(.launcher-button--icon-only) {
    aspect-ratio: 1;
    height: fit-content;
    width: fit-content;
  }
}

.launcher-button--solid {
  background-color: var(--button-color);
}

.launcher-button--outline {
  background-color: transparent;
  color: var(--button-color);
  border: 4px solid var(--button-color);

  &:hover {
    background-color: var(--button-color);
    color: white;
  }
}

.launcher-button--ghost {
  background-color: transparent;
  border: 4px solid transparent;
  color: #1a1a1a;

  &:hover {
    background-color: var(--button-color);
    border: 4px solid transparent;
    color: white;
  }
}

.launcher-button--lg {
  font-size: 1.5rem;
  padding: 15px 30px;

  &:is(.launcher-button--icon-only) {
    padding: 15rem;
  }

  & svg {
    height: 15px;
  }
}

.launcher-button--md {
  font-size:0.9rem;
  padding: 0.5rem 1rem;

  &:is(.launcher-button--icon-only) {
    padding: 0.5rem;
  }

  & svg {
    height: 1rem;
  }
}

.launcher-button--sm {
  font-size: 0.8rem;
  padding: 0.25rem 0.5rem;

  &:is(.launcher-button--icon-only) {
    padding: 0.25rem;
  }

  & svg {
    height: 0.8rem;
  }
}
