.toggle-group {
	width: fit-content;
	display: flex;
	border-radius: 6px;
	background-color: var(--surface-raised);
	overflow: hidden;
}

.toggle-group[data-orientation="vertical"] {
	flex-direction: column;
}

.toggle-group__item {
	padding: 0.5rem;
	appearance: none;
	user-select: none;
	outline: none;
	display: flex;
	justify-content: center;
	align-items: center;
	transition-property: background-color, color;
	transition-duration: 150ms;
	transition-timing-function: ease-in-out;
}

.toggle-group__item:hover,
.toggle-group__item:focus-visible {
	background-color: var(--surface-overlay);
}

.toggle-group__item[data-pressed] {
	background-color: var(--accent-primary);
	color: var(--text-on-primary);
}
