#home__root {
	display: grid;
	grid-template-columns: 64px 1fr;
	grid-template-rows: 32px 1fr;
	width: 100%;
	height: 100%;

	& > .titlebar:is(.titlebar--right) {
		padding-left: 56px;
	}
}

.main-menu {
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	padding: 16px;
	height: 100%;
	width: 100%;
	overflow: hidden;

	& > .instance-wrapper {
		height: 100%;
		background: hsl(0deg 0% 30% / 20%);
		border-radius: 7px;
		overflow: hidden auto;
		scroll-behavior: auto;
		display: flex;

		& > .instance-container {
			width: 100%;
			height: fit-content;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
			grid-auto-columns: auto;
			justify-items: center;
			grid-auto-rows: auto;
			justify-content: flex-start;
			grid-gap: 20px;
			padding: 40px;
			transition: grid-template-columns 0.5s ease-in-out;
		}
	}
}
