.standalone-page-viewer {
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background: linear-gradient(
		90deg,
		hsl(var(--color__primary-hue) 5% 35%) 20%,
		hsl(var(--color__primary-hue) 5% 40%) 80%
	);
	overflow: hidden;
}

.standalone-page-viewer__header {
	height: 32px;
	background: hsl(180deg 0% 10%);
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid hsl(0deg 0% 20%);
	user-select: none;
}

.standalone-page-viewer__nav {
	display: flex;
	gap: 2px;
	padding-left: 4px;
}

.standalone-page-viewer__nav-button {
	width: 28px;
	height: 28px;
	padding: 6px;
	background: linear-gradient(
		to bottom,
		hsl(0deg 0% 71% / 1%),
		hsl(0deg 0% 40% / 1%)
	);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	border-radius: 3px;
	border: transparent solid 1px;
}

.standalone-page-viewer__nav-button:hover {
	border: hsl(200deg 92% 35% / 10%) solid 1px;
}

.standalone-page-viewer__nav-button:hover svg {
	transform: scale(105%);
	transition-duration: 75ms;
}

.standalone-page-viewer__nav-button:active {
	transform: scale(90%);
	transition-duration: 75ms;
}

.standalone-page-viewer__nav-button svg {
	width: 100%;
	height: 100%;
	fill: hsl(var(--color__primary-hue) 0% 100% / 95%);
}

.standalone-page-viewer__title {
	flex: 1;
	font-size: var(--font-xsmall);
	color: hsl(var(--color__primary-hue) 0% 100% / 95%);
	font-weight: 500;
	text-align: center;
	padding: 0 16px;
}

.standalone-page-viewer__controls {
	width: fit-content;
	padding: 0;
}

.standalone-page-viewer__content {
	flex: 1;
	overflow-y: auto;
	padding: 1rem;
}

.standalone-page-viewer__controls > * {
	color:white;
}

.standalone-page-viewer__controls .controls-windows > * {
	color: white;
}

