.standalone-page-viewer__controls {
	display: flex;
	height: 100%;
	align-items: stretch;
	z-index: 10;
	position: relative;
}

.standalone-page-viewer__controls > div {
	display: flex;
	align-items: stretch;
}

.standalone-page-viewer__controls button {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0 12px;
	height: 100%;
}

.standalone-page-viewer__controls button:hover:not(.standalone-page-viewer__controls--macos) {
	background: hsla(0, 0%, 50%, 0.15);
}

.standalone-page-viewer__controls--macos {
	/* MacOS specific tweaks if needed */
}

