/* .context-menu__content {
  z-index: 50;
  min-width: 30px;
  transform-origin: var(--kb-menu-content-transform-origin);
  padding: 0.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px hsl(0, 0%, 0%, 0.1), 0 2px 4px -1px hsl(0, 0%, 0%, 0.06);
  background: hsl(0, 0%, 100%);
}

.context-menu__label {
  display: flex;
  position: relative;
  padding: 0.375rem 0.5rem;
  align-items: center;
  border-radius: 0.125rem;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: default;
  user-select: none;
  background: hsl(0, 0%, 100%);
}

.context-menu__item {
  display: flex;
  position: relative;
  padding: 0.375rem 0.5rem;
  align-items: center;
  border-radius: 0.125rem;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: default;
  user-select: none;
  background: hsl(0, 0%, 100%);
  justify-content: space-between;

  &:is([data-value="disabled"]) {
    pointer-events: none;
    opacity: 50%;
  }

  &:hover {
    background: hsl(0, 68%, 30%);
    color: hsl(0, 68%, 70%);
  }

  &:focus {
    background-color: hsl(0, 68%, 30%);
  }
}

.context-menu__shortcut {
  font-size: 0.75rem;
  line-height: 1rem;
  letter-spacing: 0.1em;
  opacity: 0.6;
}

.context-menu__separator {
  margin: 0.25rem -0.25rem;
  height: 1px;
}

.context-menu__sub-trigger {
  display: flex;
  padding: 0.375rem 0.5rem;
  align-items: center;
  border-radius: 0.125rem;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: default;
  user-select: none;
  justify-content: space-between;

  &:focus {
    background-color: hsl(0, 68%, 30%);
  }

  &[state="open"] {
    background-color: hsl(0, 68%, 30%);
  }

  & svg {
    height: 0.875rem;
  }
}

.context-menu__sub-content {
  z-index: 50;
  padding: 0.25rem;
  border-radius: 0.375rem;
  border-width: 1px;
  box-shadow: 0 4px 6px -1px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.06);
  transform-origin: var(--kb-tooltip-content-transform-origin);
  background: hsl(0, 0%, 100%);
}

.context-menu__group-label {
  padding: 0.375rem 0.5rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 600;
}

.context-menu__select {
  display: flex;
  position: relative;
  padding: 0.375rem 0.5rem 0.375rem 2rem;
  align-items: center;
  border-radius: 0.125rem;
  outline-style: none;
  font-size: 0.875rem;
  line-height: 1.25rem;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
  cursor: default;
  user-select: none;

  &:focus {
    background: hsl(0, 68%, 30%);
    color: hsl(0, 68%, 70%);
  }

  &[data-value="disabled"] {
    pointer-events: none;
    opacity: 50%;
  }

  & svg {
    height: 0.875rem;
  }
} */

.context-menu__content,
.context-menu__sub-content {
	z-index: 10;
	min-width: 220px;
	padding: 6px;
	border-radius: 8px;
	border: 1px solid var(--border-glass);
	background-color: var(--surface-base);
	outline: none;
	transform-origin: var(--kb-menu-content-transform-origin);
	animation: contentHide 200ms ease-in forwards;
}

.context-menu__content[data-expanded],
.context-menu__sub-content[data-expanded] {
	animation: contentShow 200ms ease-out;
}

.context-menu__item,
.context-menu__select,
.context-menu__sub-trigger {
	font-size: var(--font-xsmall);
	line-height: 1;
	border-radius: 4px;
	display: flex;
	align-items: center;
	height: 32px;
	padding: 0 12px 0 28px;
	position: relative;
	user-select: none;
	outline: none;
	justify-content: space-between;
	color: var(--text-primary);
	transition: background-color 150ms ease;
}

.context-menu__item:active,
.context-menu__select:active {
	transform: scale(98%);
}

.context-menu__sub-trigger[data-expanded] {
	background-color: var(--surface-raised);
	color: var(--text-primary);
}

.context-menu__item[data-disabled],
.context-menu__select[data-disabled],
.context-menu__sub-trigger[data-disabled] {
	color: var(--text-disabled);
	opacity: 0.5;
	pointer-events: none;
}

.context-menu__item[data-highlighted],
.context-menu__select[data-highlighted],
.context-menu__sub-trigger[data-highlighted] {
	outline: none;
	background-color: var(--accent-primary);
	color: var(--text-on-primary);
}

.context-menu__group-label,
.context-menu__label {
	padding: 0 28px;
	font-size: var(--font-xxsmall);
	font-weight: 600;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	line-height: 32px;
	color: var(--text-tertiary);
}

.context-menu__separator {
	height: 1px;
	background-color: var(--border-subtle);
	margin: 4px;
}

.context-menu__item-indicator {
	position: absolute;
	left: 0;
	height: 20px;
	width: 20px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.context-menu__item-right-slot {
	margin-left: auto;
	padding-left: 20px;
	font-size: 14px;
	color: hsl(240deg 4% 46%);
}

[data-highlighted] > .context-menu__item-right-slot {
	color: white;
}

[data-disabled] .context-menu__item-right-slot {
	color: hsl(240deg 5% 65%);
	opacity: 0.5;
}

.context-menu__select__span {
	display: flex;
	position: absolute;
	left: 8px;
	justify-content: center;
	align-items: center;
}

.context-menu__shortcut {
	font-size: var(--font-xxsmall);
	line-height: 1rem;
	letter-spacing: 0.1em;
	opacity: 0.6;
}

@keyframes contentShow {
	from {
		opacity: 0;
		transform: scale(0.96);
	}

	to {
		opacity: 1;
		transform: scale(1);
	}
}

@keyframes contentHide {
	from {
		opacity: 1;
		transform: scale(1);
	}

	to {
		opacity: 0;
		transform: scale(0.96);
	}
}
