.titlebar {
	grid-column: 1 / -1;
	grid-row: 1;

	padding-left: 12px;
	width: 100%;
	height: 32px;
	display: flex;
	flex-direction: row;

	--titlebar__opacity: calc(var(--background-opacity) * 1.5);

	background: linear-gradient(
		var(--rotation, 90deg),
		hsl(var(--color__primary-hue) 100% 7% / var(--titlebar__opacity)) 10%,
		hsl(var(--color__primary-hue) 100% 60% / var(--titlebar__opacity)) 50%,
		hsl(var(--hue-secondary) 50% 30% / var(--titlebar__opacity)) 100%
	);

	--titlebar__svg--color: var(--icon-primary);

	& svg path {
		fill: var(--titlebar__svg--color);
	}

	& > .titlebar__window-controls {
		width: fit-content;
		padding: 0;
	}

	&:is(.titlebar--right) {
		flex-direction: row-reverse;
		background: linear-gradient(
			90deg,
			hsla(var(--color__primary-hue) 0% 0% / 0%) 10%,
			hsl(var(--color__primary-hue) 100% 7% / var(--titlebar__opacity)) 20%,
			hsl(var(--color__primary-hue) 100% 60% / var(--titlebar__opacity)) 50%,
			hsl(var(--hue-secondary) 50% 30% / var(--titlebar__opacity)) 100%
		);
	}

	&:is(.titlebar--white) {
		--titlebar__svg--color: var(--icon-primary);
	}
}

/* Light mode titlebar gradient overrides */
@media (prefers-color-scheme: light) {
	.titlebar {
		background: linear-gradient(
			var(--rotation, 90deg),
			hsl(var(--color__primary-hue) 60% 75% / var(--titlebar__opacity)) 10%,
			hsl(var(--color__primary-hue) 70% 70% / var(--titlebar__opacity)) 50%,
			hsl(var(--hue-secondary) 65% 70% / var(--titlebar__opacity)) 100%
		);
	}

	.titlebar:is(.titlebar--right) {
		background: linear-gradient(
			var(--rotation, 90deg),
			hsl(var(--color__primary-hue) 0% 0% / 0%) 10%,
			hsl(var(--color__primary-hue) 60% 75% / var(--titlebar__opacity)) 20%,
			hsl(var(--color__primary-hue) 70% 70% / var(--titlebar__opacity)) 50%,
			hsl(var(--hue-secondary) 65% 70% / var(--titlebar__opacity)) 100%
		);
	}
}

/*
Used a workaround to make resizing the window from the top easier.
https://github.com/tauri-apps/tauri/issues/9510
*/
.titlebar__grab {
	width: 100%;
	height: 100%;
	display: flex;
}

.titlebar__content {
	user-select: none;
	color: var(--text-primary);
	align-items: center;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	padding: 0 16px;
	font-size: var(--font-xsmall);

	& > * {
		user-select: none;
	}
}
